.rm-scrollbar::-webkit-scrollbar {
  display: none;
}

.border-slide {
  position: relative;
}

.border-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 0.7s ease;
  height: 4px;
  left: 0;
  pointer-events: none;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: var(--color-blue-700);
}

.border-slide:hover::after {
  width: 100%;
}

.border-slide-active {
  position: relative;
}

.border-slide-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  animation: border-slide 0.4s linear forwards;
  background-color: var(--color-blue-700);
}

.dim {
  position: relative;
  overflow: hidden;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-1/2;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: var(--color-neutral-800);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.1),
      transparent
    );
    animation: skeleton-shimmer 1.2s infinite;
  }
}

.spinner {
  @apply content-[''] absolute border-t-blue-700 border-4 size-10 top-1/2 left-1/2 -translate-1/2 rounded-full;
  animation: spin linear infinite 0.8s;
}

.tooltip-bottom {
  @apply absolute top-full mt-2 bg-neutral-700 py-1.5 pointer-events-none hidden group-hover:block group-active:block rounded-lg px-2 left-0;
  animation: fade-in 0.5s;

  &::before {
    @apply content-[''] absolute size-3 border-transparent border-6 border-b-neutral-700 left-1/2 -translate-x-1/2 bottom-full z-1;
  }
}

.skeleton-text {
  height: 0.9rem;
  border-radius: 0.45rem;
  margin: 0.4rem 0;
  background: var(--color-neutral-700) !important;
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0%,
  50%,
  75%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes border-slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .responsive-sb::-webkit-scrollbar {
    display: block;
  }
}
